body {
    background-color: #fdf5e6; /* Old Lace */
}
.btn-success {
    background-color: #6c757d;
    border-color: #6c757d;
}
.card {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}
